.do::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.do:hover::after{
    width: 100%;
}

.box{
    position: relative;
    top: 0;
    height: 400px;
    width: 500px;
/*    display: flex;*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 30px 60px rgba(0, 0, 0, .2);
    margin: 0;
    float: right;
}

.box .percent{
    position: relative;
    width: 150px;
    height: 150px;
    user-select: none;
    margin-bottom: 50px;
    float: right;
}

.box .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
}

.box .percent svg circle{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: #000;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}

.box .percent svg circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #d5d5d5;
}


:root{
    --progress: 40;
}

.box .percent svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * var(--progress)) / 100);
    stroke: rgb(251, 188, 5);
}


.box .percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(251, 188, 5);
}

.box .percent .number h2{
    font-size: 40px;
}

.cent{
    font-size: 24px;
}

.box .text{
    padding: 10px 0 0;
    color: #0a324d;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

.right_side{
    background-color: white;
}

.course{
    padding-top: 30px;
    padding-left: 20px;
}

.title{
    margin-bottom: 10px;
    margin-top: 0;
    user-select: none;
}

.goal{
    font-size: 20px;
    margin-top: 0;
    width: 500px;
}

.start{
    margin: 8px 0;
    padding: 7px 13px;
    border-radius: 3px;
    background-color: royalblue;
    color: white;
    font-size: 18px;
    width: fit-content;
    user-select: none;
    cursor: pointer;
}

.start:hover{
    background-color: rgb(25, 79, 243);
}

.start:active{
    background-color: white;
    color: royalblue;
    border: 1px solid royalblue;
}

.image{
    width: 16px;
}

.sub_right{
    width: fit-content;
    display: inline-block;
    padding-top: 25px;
}

.unit{
    width: 90%;
    padding: 15px;
    margin: 30px auto;
    border-radius: 7px;
    color: black;
    user-select: none;
    font-family: 'Asap';
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.unit:hover{
    outline: 2px solid rgb(254, 201, 95);
}

.unit:active{
    outline: 4px solid rgb(254, 201, 95);
}

.less_title{
    background-color: white;
    padding: 15px;
}

.nc{
    color: #80868b;
    user-select: none;
}

.nu{
    font-size: 45px;
    user-select: none;
}

.overview{
    background-color: #f5f5f5;
    padding: 7px;
    border-bottom: .1rem solid rgba(0,0,0,.12);
}

aside{
    width: 480px;
    background-color: white;
    border: .1rem solid rgba(0,0,0,.12);
}

.test{
    border: 1px solid cadetblue;
    user-select: none;
    cursor: pointer;
    width: fit-content;
    padding: 7px;
}

.test:hover{
    color: blue;
}

.test:active{
    outline: 3px solid cadetblue;

}

.lee{
    padding: 24px 36px; color: rgba(0, 0, 0, 0.54);
}

.lee div{
    /*display: inline-block;*/
    float: right;
    padding: 10px;
    border-radius: 100%;
}


.lee:hover{
    color: black;
    border: 1px solid rgba(0,0,0,.12);
}

.chapter{
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.vedio{
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.quiz{
    padding: 10px;
    cursor: pointer;
    user-select: none;
}


.g1{
    margin-right: 450px;
}

/* .menu{
    padding: 15px;
    background-color: black;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    color: white;

    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    user-select: none;
    display: none;
    padding: 5px;
    cursor: pointer;
} */

.btext{
    width: 500px; 
    color: black; 
    margin-top: 5px;
}

.badge{
    user-select: none;
}

.in_box{
    padding: 25px; 
    padding-top: 15px;
}

.course1{
    display: none;
}